{% extends 'base.html.twig' %}

{% block title %}Edit OffreLocations{% endblock %}

{% block body %}
    
    <h1>Edit OffreLocations</h1>

    {{ include('offre_locations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('offre_locations_index') }}"><img src="\img\back.png"></a>

    {{ include('offre_locations/_delete_form.html.twig') }}
    
{% endblock %}
