{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="w3-container w3-red">
        <h1>Edit User</h1>

     </div>
    

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <a href="{{ path('user_index') }}"><img src="\img\back.png"></a>
 
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
